<table>
	<th colspan="2">Estadísticas</th>
	<tr>
		<td>Número de preguntas</td>
		<td><%= resumen.numQuizes %></td>
	</tr>
	<tr>
		<td>Número de comentarios totales</td>
		<td><%= resumen.numComents %></td>
	</tr>
	<tr>
		<td>Número medio de comentarios por pregunta</td>
		<td><%= resumen.mediaCommentQuiz %></td>
	</tr>
	<tr>
		<td>Número de preguntas SIN comentarios</td>
		<td><%= resumen.numQuizesSinComents %></td>
	</tr>
	<tr>
		<td>Número de preguntas CON comentarios</td>
		<td><%= resumen.numQuizesConComents %></td>
	</tr>
</table>


